<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal | Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1 class="animated-title">Student Portal </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Course Registration </a></li>
                <li><a href="/hostels">Hostel Registration </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h2>Welcome to the student portal</h2>
            <p>Click the button below to register for your course and reserve your hostel</p>
            <button type="submit"><a href="/courses">Course Registration</a></button>
            <button type="submit"><a href="/hostels">Hostel Registration</a></button>
        
        </section>
    

    </main>
    <footer>
        <p>&copy; 2024 Student Portal Application</p>
    </footer>
   
   
</body>
</html>