<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal | Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1 class="animated-title">Student Portal </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses </a></li>
                <li><a href="/register-courses">Course Registration </a></li>
                <li><a href="/hostels">Hostels </a></li>
                <li><a href="/register-hostels">Hostel Registration </a></li>
                <li><a href="/all-courses">School Courses </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h2>Welcome to the student portal</h2>
            <p>Click the button below to register for your course and reserve your hostel</p>
            <a href="/register-courses"><button type="submit" class="register-course">Course Registration</button></a>
            <a href="/register-hostels"><button type="submit" class="register-hostel">Hostel Registration</button></a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Student Portal Application</p>
    </footer>
   
   
</body>
</html>