<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1 class="animated-title">Student Portal </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses </a></li>
                <li><a href="/register-courses">Course Registration </a></li>
                <li><a href="/hostels">Hostels </a></li>
                <li><a href="/register-hostels">Hostel Registration </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h2>Hostel Registration</h2>
            <p>Use the form below to register for your hostel.</p>
        </section>
        <section id="studentForm">

            <form id="hostelForm" action="/register-hostels" method="POST">
                <label for="firstName">First name:</label>
                <input type="text" id="firstName" name="firstName" required minlength="2">

                <label for="lastName">Last name:</label>
                <input type="text" id="lastName" name="lastName" required minlength="2">

                <label for="studentId">Student ID:</label>
                <input type="text" id="studentId" name="studentId" required pattern="[A-Z]{2}[0-9]{4}">

                <label for="studentHostel">Hostel name:</label>
                <select id="studentHostel" name="studentHostel" required>
                    <option value="">Select Hostel Name</option>
                    <option value="Gate Hall">Gate Hall </option>
                    <option value="Billy Hall">Billy Hall</option>
                </select>

                <label for="studentRoom">Room Number:</label>
                <select id="studentRoom" name="studentRoom" required>
                    <option value="">Select Room Number</option>
                    <option value="201">201 </option>
                    <option value="202">202</option>
                    <option value="205">205 </option>
                    <option value="209">209</option>
                </select>
                <button type="submit" class="register" style="display: flex;">Submit</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Student Portal Application</p>
    </footer>

</body>
</html>