:root {
    --gradient-start: #4a00e0;
    --gradient-end: #8e2de2;
    --button-gradient-start: #f857a6;
    --button-gradient-end: #ff5858;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    /* background-color: #333; */
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    color: #fff;
    text-align: center;
    padding: 1rem;
    transition: all 0.3s ease;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 10rem;
    transition: background-color 0.3s ease;
}


header:hover, footer:hover {
    background: linear-gradient(135deg, var(--gradient-end), var(--gradient-start));
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover {
    font-size: larger;
    color: #0692a7;
}

.animated-title {
    animation: fadeInDown 6s ease-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


main {
    padding: 1rem;
    max-width: 1000px;
    /* margin: 0 auto; */
}

form {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}


button {
    background: linear-gradient(135deg, var(--button-gradient-start), var(--button-gradient-end));
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, var(--button-gradient-end), var(--button-gradient-start));
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tr:last-child td {
    border-bottom: none;
}

.student-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.delete-btn {
    background: linear-gradient(135deg, #ff4136, #ff5b62);
}

.delete-btn:hover {
    background: linear-gradient(135deg, #ff5b62, #ff4136);
}